//Import Fonts (Couldn't find Avenir Next cdn for free. Went with similar Nunito)
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500&display=swap');


//custom variables
$primary: #32849B;
$light: #E8E8E8;
$light-text: #939393;
$border-radius: 4px;
$enable-cssgrid: true;
$enable-shadows: true;

//import bootstrap - ALL for now
@import '../node_modules/bootstrap/scss/bootstrap';

body{


    .title > h2{
        font-family: 'Rockwell';
        text-transform: uppercase;
    }

    input{
        &:hover{
            background-color: $primary;
        }
    }

    h2{
        text-align: center;
        justify-content: center;
        
    }

    .cancel-button{
        border-color: $light-text;
    }
}

// Results Card

#input-form{
    background-color: $light;

    hr.answers-hr{
        border-top: 5px $light solid;
    }
}

#display-answers{
    background: $primary;

    

}

.form-card{
    border: 1px $light solid;
    box-shadow: 0px 4px 18px 0px #00000026;
    border-radius: 12px;
    
    
    
        
    .avatar {
        height: 100px;
        width: 100px;
        border-radius: 20px;
    }

    
}



@include media-breakpoint-up(md) { 
    //shift layout of card here
    .form-card{
        max-width: 50vw;
    }
}
