//Import Fonts (Couldn't find Avenir Next cdn for free. Went with similar Nunito)
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500&display=swap');


//custom variables
$primary: #32849B;
$light: #E8E8E8;
$light-text: #939393;
$input-focus-bg: red;
$border-radius: 4px;
$enable-cssgrid: true;
$enable-shadows: true;

//import bootstrap - ALL for now
@import '../node_modules/bootstrap/scss/bootstrap';


// Custom CSS for Mobile

body{


    .title > h2{
        font-family: 'Rockwell';
        text-transform: uppercase;
    }

    input{
        &:hover{
            background-color: $primary;
        }
    }

    h2{
        text-align: center;
        justify-content: center;
        
    }

    .cancel-button{
        border-color: $light-text;
    }
}

// Results Card

#input-form{
    background-color: $light;
    color: #FFFFFF;

    hr{
        color: #FFFFFF;
    }
}

#display-answers{
    background-color: $primary;
    color: #ffffff;

    hr{
        border-top: 5px #ffffff solid;
    }

    .answers{
        border: 1px solid #E8E8E8;
        border-radius: 8px;
        background-color: #FFFFFF;
        min-height: 1.5rem;
        color: $primary;
    }
}

.form-card{
    border: 1px $light solid;
    box-shadow: 0px 4px 18px 0px #00000026;
    border-radius: 12px;
    
    

    
        
    .avatar {
        height: 100px;
        width: 100px;
        border-radius: 20px;
    }

    
}

// Custom CSS for larger-than-mobile

@include media-breakpoint-up(sm) { 
    //shift layout of card here
    .form-card{
        max-width: 60vw;
        

        
    }
}
.cancel-submit{
    justify-content: end;
    background-color: red;
}